@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #374151;
}

.news-item {
  box-shadow:  5px 5px 20px #161d27, -5px -5px 20px #283548;
}

@media (max-width: 400px) {
  .news-item {
    margin: 0 15px;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}